.container {
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: "sidebar main .";
}

.categories {
    list-style-type: none;
    padding-left: 0;
}

h4 {
    margin-top: 0;
}

sidebar {
    grid-area: sidebar;
}

content {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
    grid-auto-rows: auto;
}

.product {
}

.product > a > img {
    width: 100%;
    height: 100%;
}

.product-detail {
    font-size: 1.2em;
}